
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family:'Roboto',sans-serif ;
}
header, section, footer {
  padding: 15px 10% ;
}
header {
  position: relative;
  height: 400px;
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 50%;
  background-position: right bottom;
  background-repeat: no-repeat;
}
nav {
  position: relative;
  text-transform: uppercase;
}
nav ul li, nav ul, .pulsanti-footer{
  display: inline-block;
}
nav ul li {
  margin: 0 5px;
  color: white;
}
nav * {
  vertical-align: bottom
}
.bottoni {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0, -10%);
}
.bottoni span:first-child {
  padding: 10px;
}
.bottoni span:nth-child(2) {
  padding: 10px;
  margin: 0px 15px;
  border-radius: 5px;
  border: 1px solid white;
}
.titolo-pagina {
  position: absolute;
  display: inline-block;
  width: 50%;
  margin-top: 100px;
  bottom: 25%;
  transform: translate(0, -50%);
}
.titolo-pagina h1 {
  color: white;
  margin-bottom: 20px;
}
.bottone-verde{
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #7cbb02;
}
.bottone-verde a, nav a {
  text-decoration: none;
  color: white;
}
.intestazione {
  position: relative;
  text-align: center;
  height: 100px;
  background-color: #d3d3d3;
}
.intestazione div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intestazione span, .carta hr, .carta span, main section:last-child div span {
  color: #8e8e8e;
}
.row {
  border-bottom: 2px solid #8e8e8e;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.carta {
  float: left;
  width: calc(100%/3);
  text-align: center;
}
.carta h4 {
  height: 2em;
  color: #7cbb02;
}
.carta:nth-child(2) h4 {
  transform: translate(0, 25%);
}
.carta img {
  margin: 15px;
  height: 100px;
}
.carta hr {
  margin: 15px 40%;
}
main section:last-child img {
  width: 46%;
  margin: 2%;
}
section img + div{
  display: inline-block;
  width: 45%;
  margin: 2%;
  float:right;
}
main section:last-child:after{
  content: "";
  display: table;
  clear: both;
}
footer {
  height: 100px;
  background-color: yellow;
}
footer h3{
  display: inline-block;
}
